<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <header>
    <h1><%= title %></h1>
    <nav>
      <ul>
        <li><a href="/products/gels">Gels</a></li>
        <li><a href="/products/shoes">Shoes</a></li>
        <li><a href="/products/shoeInstances">Shoe Instances</a></li>
        <li><a href="/products/watches">Watches</a></li>
      </ul>
    </nav>
  </header>
  <body>
