<%- include('header');%> <% shoeInstances.forEach(function(shoeInstance){ %>
<a href="<%= shoeInstance.url%>"><%= shoeInstance.shoe.brand %></a>
<% }); %>
<hr />
<a href="/products/shoeInstance/add">Add Shoe Instances</a>
<%- include('footer');%>
