body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
nav {
  display: inline;
}
ul {
  list-style-type: none;
  float: right;
  display: flex;
  gap: 10px;
}
li {
  display: flex;
}
header {
  padding: 10px;
}
header h1 {
  display: inline;
}
label {
  display: block;
  padding: 5px 0;
}
label input {
  display: block;
}
