body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
ul {
  list-style-type: none;
  float: right;
  display: flex;
  gap: 10px;
}
li {
  display: flex;
}
h1 {
  display: inline;
}
